p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.lines {
    font-weight: bold;
}

.instructions h2 {
    font-size: 2rem;
    margin: 10px auto;
    font-weight: bold;
    color: #e60000;
}

.instructions p {
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Merriweather', serif;
    margin: 7px auto;
}


* {
    margin: 0;
    padding: 0;
}

.quiz-container {
    width: 100%;
    margin: 0;
    display: flex;
    position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 9px;
}

.quiz-container img {
    width: 160px;
}

.quiz-container h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 12px;
    font-family: sans-serif;
    color: #248162;
}

.form-some {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

textarea {
    margin: 0px;
    width: 85%;
    height: 100px;
    background: #f0f0f0;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 3px solid #248162;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.submitb {
    background-color: #248162;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 40px;
    margin: 11px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 8px;
}

.submitb:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.home-btn {

    background-color: #248162;
    top: 50%;
    border-radius: 8px;
    font-size: 8px;

    display: inline-block;
    cursor: pointer;


    position: absolute;
    transform: translateY(-50%);
    font-size: 3rem;
    background: none;
    border: none;
    outline: none;
    color: #248162;
    transition: all 0.5s ease;
}

.home-btn:hover {
    transform: translateY(-50%) scale(1.2, 1.2);
}

@media(max-width: 750px) {
    .home-btn {
        top: 2rem;
    }
}