* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}



.center-area {


    /* border: 1px solid rgb(110, 110, 110); */
    max-width: 1024px;
    /* text-align: center; */
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    /* padding: 20px; */
    /* box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* border-radius: 10px; */
}

@media(max-width:1064px) {
    .center-area{
        margin-left: 20px;
        margin-right: 20px;
    }
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


.box2 {
    width: 100px;
    height: 100px;
    background-color: #eaeaea;
}

.center-area .left-button-center {
    border: 3px solid black;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-button-center:hover {
    background-color: #EDF2F7;
}

.left-button-center-container{
    position: absolute;
    top: 10px;
}

/* .go_back {
    position: fixed;
    top: 48%;
    left: 1rem;
    font-size: 3rem;
    color: #59b4b4;
    transition: transform 0.2s ease;
} */

/* .go_back:hover {
    transform: scale(1.2);
}

@media(max-width:800px) {
    .go_back {
        font-size: 3rem;
        left: 0.2rem;
    }
}

@media(max-width:550px) {
    .go_back {
        font-size: 2rem;
        left: 0.1rem;
    }
}

@media(max-width:370px) {
    .go_back {
        font-size: 2rem;
        top: 90px;
    }
} */


/* .bottom-left-button {
    position: absolute;
    bottom: 0;
    left: 0;
    position:fixed;
} */

.question{
    /* border: 1px solid rgb(207, 196, 196); */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.accordionButton{
    color: black;
    /* position: absolute;
    margin-bottom: 200px; */
}

.accordion-item{
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.chakra-accordion__panel{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.chakra-accordion__button {
    height: 0px !important;
}

.toggle-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 20px;
}

.toggle-button{
    background-color: white;
    height: 20px !important;
    width: 20px !important;
    padding: 0px;
    margin: 0px;
}

.toggle-button:hover {
    background-color: white !important;
}

.extra-add-question{
    position: fixed;
    top: 350px;
    right: 5px;
    background-color: #3E9595;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 10; /* Ensure it appears above other content */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 50%;
}

.instruction-section-container{
    /* width: auto; */
    margin: 9px;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    background-color: #298A8A;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    display: block;
    min-width: 200px;
    /* width: 50%; */
    margin: 10px auto;
}

.instruction-section-container:hover {
    background-color: #285E61;
}

.instruction-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction-section p{
    margin-left: 5px;
}

.instructions {
    position: absolute;
    bottom: 2rem;
    left: 4%;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 3px 1.4rem;
    background: #298a8a;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 21px;
    transition: all 0.5s ease;
    z-index:999;
    width: auto;
}

.instructive_text2 {
    position: absolute;
    top: 150%;
    left: 0;
    opacity: 0;
    font-size: 12px;
    text-align: center;
    border-radius: 13px;
    padding: 2px;
    transition: all 0.3s ease;
}

@media(max-width:1390px) {
    .instructions {
        font-size: 1rem;
        left: 4%;
    }
}

@media(max-width:1190px) {
    .instructions {
        font-size: 0.7rem;
        left: 3.5%;
    }
}


.instructions:hover .instructive_text2 {
    opacity: 1;
    top: -150%;
    color: black;
    background-color: #eaeaea;
    border: 25%;
    font-size: 12px;
    color:#298a8a;
}

.topic {
    border-radius: 29px;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    margin: 0px 10px;
    /* color: #455251; */
    /* background-color: #298A8A; */
    color: black;
    padding: 5px 1.5rem;
}

.topic-box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px 35px;
}

.add-question {
    margin: 9px;
    text-align: center;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    background-color: #298A8A;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.add-question:hover{
    background-color: #285E61;
}
@media(max-width:450px){
    .add-question{
        font-size: 25px;
        text-align: center;
    }
    .topic{
        text-align: center;
        font-size: 30px;
    }
}
.question_box {
    display: block;
    min-width: 200px;
    width: 50%;
    margin: 10px auto;
}

.icon-bar {
    position: fixed;
    right: 0;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    /* background-color: #102626; */
    /* background: #50d8d7; */
    padding-top: 4px;
    padding-bottom: 4px;
    /* z-index: 100; */
    background: #298a8a;
}


.icon-bar-menu {
    /* display: block; */
    text-align: center;
    border: none;
    position: relative;
    background: none;
    transition: all 0.3s ease;
    padding: 3px;
    color: white;
    font-size: 28px;
}




.copy_link {
    display: none;
    position: absolute;
    top: 2%;
    right: 49px;
    width: 110px;
    font-size: 1.11rem;
    padding: 7px;
    background: #298a8a;
    color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}



#settings {
    display: none;
    position: absolute;
    top: 28%;
    right: 52px;
    background: #298a8a;
    color: white;
    transition: all 1s ease;
    font-size: 1.2rem;
    padding: 8px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 0.5rem;
}

#instruction_icon{
    display: none;
}

#result {
    display: none;
    position: absolute;
    top: 55%;
    right: 52px;
    transition: all 1s ease;
    font-size: 1.2rem;
    padding: 8px;
    background: #298a8a;
    color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 0.5rem;
}
#instruct {
    position: absolute;
    display: none;
    top: 80%;
    right: 49px;
    width: 112px;
    transition: all 1s ease;
    font-size: 1.2rem;
    padding: 8px;
    background: #298a8a;
    color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 0.5rem;
}
@media(min-width: 1040px){
    #result{
        top: 70%;
    }
    #settings{
        top: 35%;
    }
}

@media(max-width:1040px){
    #instruction_icon{
        display: block;
    }
    #instruct{
        display: none;
    }
    .instructions{
        display: none;
    }
}

@media(max-width: 550px){
    .icon-bar{
        width: 30px;
    }
    .icon-bar-menu{
        font-size: 25px;
    }
    .copy_link{
        right: 35px;
        font-size: 1rem;
        width: 80px;
        top: -10%;
    }
    #settings{
        right: 35px;
        font-size: 1rem;
        width: 80px;
    }
    #result{
        right: 35px;
        font-size: 1rem;
        width: 80px;
    }
    #instruct{
        right: 35px;
        font-size: 1rem;
        width: 80px;
    }
}


.icon-bar-menu:hover {
    color: #298a8a;
    background-color: white;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}


.icon-1:active {
    color: black;
    transition-duration: 0.1s;
    transform: scale(1.01);
}

/* Indivisual Question */

.question_info_holder {
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold;
}

.explanation-container{
    position: relative;
}

.accordion-item-container{
    /* border-color: white; */
}

.question_info{
    display: flex;
    justify-content: space-around;
}

@media(max-width:550px) {
    .question_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.option_holder{
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .option_holder span{
    display: inline-block;
    border: 0.5px solid rgb(133, 129, 129);
} */
