.add-question-page h1 {
  font-weight: bold;
}

.question-form {
  max-width: 600px;
  margin: auto;
}

.form-group {
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option input[type="text"] {
  margin-left: 10px;
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.option input[type="text"]:focus {
  border-color: #4CAF50;
  background-color: #fff;
}

.add-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #45a049;
}

.remove-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}

.remove-button:hover {
  background-color: #e53935;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #45a049;
}
